$base-color:#1E28320D;
$color-2:#1E2832;
$color-3:#FF6F61;
$color-4:#00000080;
$base-font:"Roboto";
$secondary-font:"Open Sans";
$logo-size:28px;
$header-top-size:18px;
$header-bottom-size:16px;
$heading-size:74px;
$button-font-size:25px;
$heading-text-size:30px;
$hot-category-size:27px;
$grid-products-title:50px;
$product-category:12px;
$brand-banner-text:26px;
$footer-text:14px;
$icons-size:20px;
$font-weight-1:400;
$font-weight-2:300;
$font-weight-3:500;
$font-weight-4:600;
